body{
    background-color: hsl(360, 0%, 96%);
}

a{
    color: hsl(180, 20%, 10%);
    text-decoration: none;

}

a:visited{
    color: hsl(180, 50%, 40%);
    text-decoration: none;
}

a.page_title{
    color: hsl(180, 50%, 100%);
    text-decoration: none;
}

a.page_title:visited{
    color: hsl(180, 50%, 100%);
    text-decoration: none;
}

.container{
    height: 100%;
}

.header{
    color: hsl(360, 0%, 100%);;
    background-color: hsl(180, 0%, 25%);
    height: 250px;
}

.header_left{
    background-color: hsl(360, 0%, 40%);
    height: 100%;
}

.page_title{
    padding-top: 20px;
    padding-left: 10px;
    height: 100%;
}

.header_right{
}

.content_area{
    border-left: 1px solid hsl(360, 0%, 90%);
    border-right: 1px solid hsl(360, 0%, 90%);
    background-color: hsl(360, 100%, 100%);

}

.shelf{
    border-bottom: 1px solid hsl(360, 0%, 90%);
    font-size: 15px;
    padding:10px;
}

.date{
    color: #666;
    font-size: 12px;
}


.article_title{
    font: hsl(300, 30%, 30%);
}


.footer{
    height:200px;
    background-color: hsl(360, 0%, 90%);
}


.single_header{
    height:35px;
    background-color: hsl(180, 0%, 40%);
    padding-top: 10px;
    padding-left: 10px;
}

.content{
    color: hsl(210, 0%, 30%);
    padding-left: 5%;
    padding-right: 5%;
}
