{{ partial "header.html" . }}

<div class="pure-g container">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
    <div class="pure-g header">
        <div class="header_left pure-u-2-5">
            <div class="page_title">{{.Site.Title}}</div>
        </div>
        <div class="header_right pure-u-3-5">

        </div>
    </div>

    <div class="content_area">
    {{ range .Data.Pages }}
    <div class="shelf">
      <div class="article_title">
      <a  href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      <div class="date">{{.Date}}</div>
    </div>
    {{ end }}
    </div>
    <div class="footer">

    </div>
    </div>

<div class="pure-u-1-5"></div>
</div><!-- end .pre-g -->
{{ partial "footer.html" . }}
